<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServer</display-name>
    <servlet-name>FirstServer</servlet-name>
    <servlet-class>com.fs.FirstServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServer</servlet-name>
    <url-pattern>/FirstServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServer</display-name>
    <servlet-name>NewServer</servlet-name>
    <servlet-class>com.fs.NewServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServer</servlet-name>
    <url-pattern>/NewServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inbox</display-name>
    <servlet-name>Inbox</servlet-name>
    <servlet-class>com.fs.Inbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inbox</servlet-name>
    <url-pattern>/Inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>valSession</display-name>
    <servlet-name>valSession</servlet-name>
    <servlet-class>com.fs.valSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valSession</servlet-name>
    <url-pattern>/valSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>counter</display-name>
    <servlet-name>counter</servlet-name>
    <servlet-class>com.fs.counter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>counter</servlet-name>
    <url-pattern>/counter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveCompose</display-name>
    <servlet-name>saveCompose</servlet-name>
    <servlet-class>com.fs.saveCompose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveCompose</servlet-name>
    <url-pattern>/saveCompose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCompose</display-name>
    <servlet-name>SaveCompose</servlet-name>
    <servlet-class>com.fs.SaveCompose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCompose</servlet-name>
    <url-pattern>/SaveCompose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStar</display-name>
    <servlet-name>updateStar</servlet-name>
    <servlet-class>com.fs.updateStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStar</servlet-name>
    <url-pattern>/updateStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainInbox</display-name>
    <servlet-name>MainInbox</servlet-name>
    <servlet-class>com.fs.MainInbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainInbox</servlet-name>
    <url-pattern>/MainInbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentController</display-name>
    <servlet-name>SentController</servlet-name>
    <servlet-class>com.fs.SentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentController</servlet-name>
    <url-pattern>/SentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComposeController</display-name>
    <servlet-name>ComposeController</servlet-name>
    <servlet-class>com.fs.ComposeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComposeController</servlet-name>
    <url-pattern>/ComposeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StarredController</display-name>
    <servlet-name>StarredController</servlet-name>
    <servlet-class>com.fs.StarredController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarredController</servlet-name>
    <url-pattern>/StarredController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftController</display-name>
    <servlet-name>DraftController</servlet-name>
    <servlet-class>com.fs.DraftController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftController</servlet-name>
    <url-pattern>/DraftController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageReadController</display-name>
    <servlet-name>MessageReadController</servlet-name>
    <servlet-class>com.fs.MessageReadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageReadController</servlet-name>
    <url-pattern>/MessageReadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInboxController</display-name>
    <servlet-name>DeleteInboxController</servlet-name>
    <servlet-class>com.fs.DeleteInboxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInboxController</servlet-name>
    <url-pattern>/DeleteInboxController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSentController</display-name>
    <servlet-name>DeleteSentController</servlet-name>
    <servlet-class>com.fs.DeleteSentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSentController</servlet-name>
    <url-pattern>/DeleteSentController</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/CustomTag</taglib-uri>
      <taglib-location>/WEB-INF/CustomTag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>likeImage</display-name>
    <servlet-name>likeImage</servlet-name>
    <servlet-class>com.fs.likeImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likeImage</servlet-name>
    <url-pattern>/likeImage</url-pattern>
  </servlet-mapping>
</web-app>